<div class="about-container">
  <div class="about-text">
    <h3>About Me</h3><br>
    <p>
      I am Amir, an adept in the realms of website design and programming.<br>
      <br>
      The present digital domain stands as a representation of my personal endeavors.<br>
      <br>
      For those who harbor aspirations of fashioning an individualistic online haven<br>
      <br>
      I cordially extend an invitation to partake in my educational series featured on <a class="card-link" href="https://www.youtube.com/channel/UCliOIaqA0_ekqLJvOKMjngw" target="_blank" style="font-size: larger" ><br><br>-------- Youtube --------</a> <br>
      <br>
      Through diligent adherence to my guided tutorials, the materialization of your very own personal website within an abbreviated timeframe is achievable.<br>
      <br>
      Should the desire for interaction arise, kindly avail yourself of the communication avenues thoughtfully furnished at the conclusion of this webpage.<br>
      <br>
      Respectfully <br>
      <br>
     ~ Amir Teshnehdel ~
    </p>
  </div>
  <div class="image-box">
    <!-- Replace 'your-image-url' with the URL of your image -->
    <img Src="assets/picinfo.png" alt="About Image" />

  </div>
</div>
