<div class="gallery">
  <article class="card">
    <a href="https://mrkharchang.ir/" target="_blank">
      <figure>
        <img src="./assets/mrkharchang.png" alt="mr-kharchang">
        <figcaption>
          <h3 style="font-size: small">Mr kharchang</h3>
        </figcaption>
      </figure>
    </a>
  </article>
  <article class="card">
    <a href="https://creaviio.com/" target="_blank">
      <figure>
        <img src="./assets/pro2.jpg" alt="lavender_field">
        <figcaption>
          <h3 style="font-size: small">Zotrin company</h3>
        </figcaption>
      </figure>
    </a>
  </article>
  <article class="card">
    <a href="https://creaviio.com/" target="_blank">
      <figure>
        <img src="./assets/pro3.jpg" alt="wooden_bridge">
        <figcaption>
          <h3 style="font-size: small">Coming soon ...</h3>
        </figcaption>
      </figure>
    </a>
  </article>
</div>
