<!-- Layout 2: Text box under the photo in the middle of the page -->
<div class="flex-container">
  <div class="photo">
    <!-- Place your image here -->
    <img class="image" ngSrc="assets/full.jpg" alt="Photo" height="1080" width="1920">
  </div>
  <div class="text-box center">
    <!-- Your text content here -->
    <h2>Only 3 Steps To Become A Pprogrammer</h2>
    <p>You can follow the tutorials on the YouTube channel for free and send us any questions you have about Angular on Telegram or Instagram. You can go to the end of the page to access</p>
  </div>
</div>
