/* CSS for Layout 2 */
.flex-container {

}

.photo {
  margin-bottom: 20px; /* Add some spacing between photo and text box */
}

.center {
  text-align: center;
}
.image{
  border: 1px solid #ccc; /* Optional: add a border for visual separation */
  padding: 10px; /* Optional: add padding for better spacing */
  max-width: 50%; /* Ensure the image fits inside the container */
  height: auto; /* Maintain aspect ratio */
  justify-content: center;
  margin-left: 370px;
}
.vertical-text {
  /* Set the width and height of the vertical text container */
  width: 40px; /* You can adjust the width according to your preference */
  height: 200px; /* You can adjust the height according to your preference */
  /* Rotate the text 90 degrees counterclockwise to make it vertical */
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  margin-left: 1200px;
  margin-top: -350px;
  display: flex;
}

.programer{
 margin-bottom: 70px;
}
.line{
  margin-left: 1236px;
  margin-top: -30px;
  display: flex;

}
.hertical-text {
  writing-mode: vertical-rl;
  transform: rotate(-360deg);
  margin-top: -190px;
  margin-left: 300px;
  display: flex;

}
.line2{
  margin-left: 40px;
  margin-top: -30px;
  display: flex;
}
@media (max-width: 767px) {
  .photo{
    display: flex;
    margin-left: -370px;
    justify-content: center;
    align-items: center;

  }
  .vertical-text{
    margin-left: 20px;
    font-size: 12px;
    margin-top: -420px;
  }
  .hertical-text{
    margin-left: 350px;
    margin-top: -160px;
    font-size: 12px;
  }
  .line{
    margin-left: 100px;
    margin-top: 10px;
  }
}
