<!-- Layout 2: Text box under the photo in the middle of the page -->
<div class="flex-container">
  <div class="text-box ">

  </div>
  <div class="photo">
    <!-- Place your image here -->
    <img class="image" ngSrc="assets/full.jpg" alt="Photo" height="1080" width="1920">
  </div>
</div>
<div class="programer center"  ><h1>Only 3 Steps To Become A Pprogrammer</h1></div>
<br>
<div class="vertical-text">
  {{ textBoxValue }}
</div>
<div class="hertical-text">
  {{ hextBoxValue }}
</div>
<div class="line" >-------------------------------------</div>
<div class="line2">-------------------------------------</div>
