<!-- Layout: Text on the right, Flex pic on the left -->
<div class="flex-container">
   <div class="image-box">
      <!-- Place your flexible picture here -->
      <img src="assets/me1.jpg" alt="Flexible Picture">
  </div>
     <div class="text-box">
    <!-- Your text content here -->
    <h1>I'm <br> A Designer</h1>
    </div>

</div>
<div class="vertical-text">
  {{ textBoxValue }}
</div>
<div class="text-container">
      <pre>
        The text describes the author as a web designer and programmer
        with a strong passion for their career. They express interest in
        a website designed using Angular, HTML, JavaScript, and Bootstrap.
        The website's simplicity and beauty are highlighted. The author's
        enthusiasm for their profession is emphasized,bringing them immense joy.





        </pre>
</div>
